<p>An app to store and manage your notes on the IC (Internet Computer). Therefore your notes are highly private and no intermediary may
    reveal any information.</p>

<p>We will gradually improve the application and add new features shortly.</p>

<p>IC Notes is an Open Source application. <a href="https://github.com/pattad/ic_notes" target="_blank">Github</a></p>

<p>Join <a href="https://discord.gg/rvwrzNrvZd" target="_blank">Discord Channel</a> for support, bugs or feedback.</p>

<p class="hidden">Total notes created: {{notesCnt}}</p>

<p class="hidden">Total users: {{userCnt}}</p>

<p class="hidden">Total boards: {{boardCnt}}</p>