<div class='wrapper'>
    <div *ngIf="showBanner" style="margin-top: 5em">
        <blockquote>Access link to this board <b>{{this.getBoardUrl()}}</b>
            &nbsp;&nbsp;<button class="button small" (click)="copyToClipboard()">copy</button>
            &nbsp;&nbsp;<button class="button small" (click)="hideBanner()">X</button>
        </blockquote>
    </div>
    <div *ngIf="this.getAccessRequests().length > 0" style="margin-top: 5em">
        <blockquote *ngFor="let req of this.getAccessRequests()">Access Request from User <b>{{req.displayName}}</b>,
            grant
            &nbsp;&nbsp;<button class="button small" (click)="grantReq(req.id, 'admin')">admin</button>
            &nbsp;&nbsp;<button class="button small" (click)="grantReq(req.id, 'write')">write</button>
            &nbsp;&nbsp;<button class="button small" (click)="grantReq(req.id, 'read')">read only</button>
            &nbsp;&nbsp;<button class="button small" (click)="declineReq(req.id)">x</button>
        </blockquote>
    </div>
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <a href="index.html" class="logo">
                <span class="symbol"><img src="../assets/logo.svg" alt=""/></span><span class="title">IC NOTES</span>
            </a>
            <!-- Nav -->
            <nav>
                <ul>
                    <li *ngIf="getActiveBoard() != null"><a (click)="showBanner=true" class="icon brands"><img
                            src="../assets/share.svg" width="50em"/></a>
                    </li>
                    <li><b>{{this.getActiveBoardName()}}&nbsp;&nbsp;</b></li>
                    <li>
                        <!-- Rounded switch -->
                        <label class="switch">
                            <input type="checkbox" (click)="switchTheme()"/>
                            <span class="slider round"></span>
                        </label>
                    </li>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <div class="inner">
            <h2>IC Notes</h2>
            <ul>
                <li><a (click)="openDefaultNotes()">Home</a></li>
                <li *ngIf="isLoggedIn()"><a (click)="newNote()">New Note</a></li>
                <li *ngIf="isLoggedIn()"><a (click)="newImgNote()">New Image Note</a></li>
                <li *ngIf="isLoggedIn()"><a (click)="newBoard()">New Board</a></li>
                <li *ngFor="let board of this.getBoards()"><a (click)="openBoard(board)">>> {{board.name}}</a></li>
                <li *ngIf="!isLoggedIn()"><a (click)="login()">Login</a></li>
                <li *ngIf="isLoggedIn()"><a (click)="logout()">Logout</a></li>
                <li><a routerLink="/about" routerLinkActive="active">About</a></li>
            </ul>
        </div>
    </nav>

    <!-- Main -->
    <div id="main" class="main">
        <router-outlet></router-outlet>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <ul class="copyright">
                <li>IC Notes - The first notebook that runs on the dfinity IC (Internet Computer).</li>
                <li><img style="vertical-align: middle" src="/assets/dfinity.png" alt="" width="30em"></li>
                <li><a href="https://twitter.com/icNotesApp" target="_blank"><img style="vertical-align: middle" src="/assets/twitter.svg" alt="" width="30em"></a> </li>
            </ul>
        </div>
    </footer>
</div>