<div class='wrapper'>
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <a href="index.html" class="logo">
                <span class="symbol"><img src="../assets/logo.svg" alt=""/></span><span class="title">IC NOTES</span>
            </a>
            <!-- Nav -->
            <nav>
                <ul>
                    <li>
                        <!-- Rounded switch -->
                        <label class="switch">
                            <input type="checkbox" (click)="switchTheme()"/>
                            <span class="slider round"></span>
                        </label>
                    </li>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <div class="inner">

            <h2>IC Notes</h2>
            <ul>
                <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
                <li *ngIf="isLoggedIn()"><a (click)="newNote()">New Note</a></li>
                <li *ngIf="!isLoggedIn()"><a (click)="login()">Login</a></li>
                <li *ngIf="isLoggedIn()"><a (click)="logout()">Logout</a></li>
                <li><a routerLink="/about" routerLinkActive="active">About</a></li>
            </ul>
        </div>
    </nav>

    <!-- Main -->
    <div id="main" class="main">
        <router-outlet></router-outlet>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <ul class="copyright">
                <li>IC Notes - The first notebook that runs on the dfinity IC (Internet Computer).</li>
                <li><img style="vertical-align: middle" src="/assets/dfinity.png" alt="" width="30em"></li>
            </ul>
        </div>
    </footer>
</div>