<div *ngIf="isLoggedIn()" class="inner">

    <div *ngIf="this.loaded && this.notes.length <= 3 && hasWriteAccess">
        <p>Your private notes on the blockchain. </p>

        <br>
        <textarea id="content" [(ngModel)]="content" style="max-width: 30em" placeholder="start writing..."></textarea>
        <br>
        <button *ngIf="isNewNote" (click)="addNote()">add Note</button>
    </div>
    <div *ngIf="this.loaded && this.notes.length > 3 && hasWriteAccess">
        <button *ngIf="isNewNote" (click)="addNoteFull()" class="button small">new Note</button>
    </div>
    <br/>
    <br/>
    <div *ngIf="tags.size > 0" style="text-align: left; float: left">
        Filter by Tag: <a *ngFor="let tag of tags" (click)="setFilterByTag(tag)">{{'#' + tag}} </a><a
            (click)="removeFilter()"> -- remove filter</a>
        <br><br>
    </div>
    <div *ngIf="notes.length > 3" style="text-align: right; ">
        Sort by <a (click)="sortBy('updated')">updated</a>&nbsp;<a (click)="sortBy('created')">created</a>
        <br><br>
    </div>
    <div *ngIf="notes.length <= 3" style="text-align: right; ">
        <br><br>
    </div>
    <div class="card" *ngFor="let note of filteredNotes">
        <div class="container">
            <p><b>{{note.title}}</b><br><br></p>
            <div style="white-space: pre-wrap; overflow-wrap: break-word; overflow-y: hidden; max-height: 9.5em; margin-bottom: 1em"
                 [innerHTML]="note.content"></div>
            <div *ngIf="number(note.createdAt) > 0"
                 style="text-align: left; float: left; ">{{number(note.createdAt) / 1000000 | date: 'shortDate'}} {{tagsToString(note.tags)}}</div>
            <div *ngIf="hasWriteAccess" style="text-align: right;"><a (click)="editNote(note.id)">open</a> - <a
                    (click)="deleteNote(note.id)">delete</a>
            </div>
            <div *ngIf="!hasWriteAccess" style="text-align: right;"><a (click)="editNote(note.id)">open</a>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!isLoggedIn()" class="inner">
    <p>Your private notes on the blockchain.</p>
    <p>A save place to store your personal lists, thoughts, ideas or passphrases and much
        more....</p>
    <p>Please login to start writing notes.</p>
    <button (click)="login()">Login</button>
    <br>
    <br>
</div>

<ngx-spinner bdColor="rgba(242, 132, 158, 0.1)" size="medium" type="square-jelly-box" [fullScreen]="true">
    <p> saving... </p></ngx-spinner>