<div *ngIf="isAuthenticated()" class="inner">
    <p>Your private notes on the blockchain. </p>

    Title
    <input type="text" id="title" [(ngModel)]="title" style="max-width: 20em"/>
    <br>
    Note
    <textarea id="content" [(ngModel)]="content" style="max-width: 60em"></textarea>
    <br>
    <button *ngIf="isNewNote" (click)="addNote()">add Note</button>
    <button *ngIf="!isNewNote" (click)="updateNote()">Update Note</button>

    <br/>
    <br/>
    <div class="card" *ngFor="let note of notes">
        <div class="container">
            <b>{{note.title}}</b>
            <p>{{note.content}}</p>
            <div align="right"><a (click)="editNote(note.id)">edit</a> - <a (click)="deleteNote(note.id)">delete</a></div>
        </div>
    </div>
</div>
<div *ngIf="!isAuthenticated()" class="inner">
    <p>Your private notes on the blockchain.</p>
    <p>Please login to start writing notes.</p>
    <button (click)="login()">Login</button>

</div>